#opening {
	width: 40%;
	min-width: 16em;
	height: 20em; 
    margin: 8em auto 0em auto;
    text-align: center;
	background-color: black; 
	padding-top: 2em; 
}

#opening h1 {
	color: white; 
	font-size: 2em; 
	width: 80%;
	margin: 0em auto; 
}

#opening button {
	width: 7em; 
	margin-top: 2em;
	font-size: 1.5em; 
	background-color: white; 
	color: blue; 
	padding: 1em;
    border-radius: 100% / 100%;
	border: none; 
	font-weight: bold; 
}

#opening button:hover {
	background-color: blue; 
	color: white; 
}

#problem-section {
	padding: 3em;
	display: none; 
	width: 60%; 
	margin: 2em auto; 
}

#feedback {
	border: 1px solid black; 
	padding: 2em; 
	display: none; 
}


button[name=next] {
	margin-top: 2em; 
	display: none; 
	float: right; 
}

#endGame {
	width: 13em; 
	font-size: 1.3em; 
	text-align: center; 
	margin: 3em auto; 
	display: none; 
	border: 1px dotted black; 
}

#endGame button {
	width: 5em;
	margin: 0 0.5em 1em 0.5em; 
}

#stats {
	display: none;
	text-align: center;
}

