#opening {
	width: 50%;
	min-width: 16em;
    margin: 11% auto 0em auto;
    text-align: center;
	background-color: black; 
	padding: 2em 0em; 
}

#opening p {
	color: white; 
	font-size: 2em; 
	width: 80%;
	margin: 0em auto; 
}

#opening button {
	width: 7em; 
	margin-top: 2em;
	font-size: 1.5em; 
	background-color: white; 
	color: blue; 
	padding: 1em;
    border-radius: 100% / 100%;
	border: none; 
	font-weight: bold; 
}

#opening button:hover {
	background-color: blue; 
	color: white; 
}

h1 { 
	display: none; 
	text-align: center; 
	color: rgba(0, 94, 255, 0.59); 
}

#problem-section {
	padding: 0.5em;
	display: none; 
	width: 70%;
	min-width: 15em; 
	margin: 0em auto; 
}

#problem-section > h2 {
	text-align: center;
	text-decoration: underline; 
}

#answerForm {text-align: center;}

#feedback {
	border: 1px solid black; 
	padding: 2em; 
	display: none; 
	background-color: #F6F6F6;
}


button[name=next] {
	margin-bottom: 2em; 
	display: none; 
	float: right; 
}

#endGame {
	width: 13em; 
	font-size: 1.3em; 
	text-align: center; 
	margin: 3em auto; 
	display: none; 
	border: 1px solid black; 
}

#endGame button {
	width: 5em;
	margin: 0 0.5em 1em 0.5em; 
}

hr {
	clear: right;
	margin-top: 1em; 
}

#stats {
	display: none;
	text-align: center;
	border: 3px dotted black;
	width: 18em;
	margin: 0em auto;
}

